<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp3.Properties.Settings.huyukConnectionString"
            connectionString="Data Source=DESKTOP-B2T2A7U;Initial Catalog=huyuk;Persist Security Info=True;User ID=huyuk;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>